@import "../../../master-styles.scss";

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  background-image: url("../../../imgs/human-pattern.gif");
  background-size: 80vh;
  background-position: left;
  background-repeat: no-repeat;
}

.maintext {
  text-align: center;
  font-size: 2rem;
}

.input-field {
  @include inputFields(50);
}

.btn {
  float: right;
}

.login-btn {
  @include button(black, white);
}

@media screen and (orientation: portrait) {
  .login-container {
    background-size: contain;
    justify-content: space-evenly;
  }

  .maintext {
    text-align: center;
    font-size: 1rem;
  }

  .input-field {
    @include inputFields(90);
  }
}
