@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.bg-animations div {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  filter: blur(100px);
}

.bg-animations .circle {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: red;
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
}

.bg-animations .circle1 {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(251, 255, 0);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bg-animations .square {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(255, 0, 191);
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.bg-animations .square2 {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 110, 255);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  animation-direction: reverse;
}

@-webkit-keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
@media screen and (orientation: portrait) {
  .bg-animations div {
    display: none;
  }
}
neon {
  background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: grad-anim infinite 2s ease-in-out;
          animation: grad-anim infinite 2s ease-in-out;
}

@-webkit-keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}

@keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 75%;
  min-height: 100vh;
  margin: auto;
  color: #cad3d1;
  background-color: #121212;
}

.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 3%;
}
.home-navbar div {
  max-width: 30%;
}
.home-navbar .home-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-navbar .home-options img {
  border-radius: 100%;
  width: 10%;
  height: auto;
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 25px;
}
.home-navbar .home-options img:hover {
  transform: scale(1.1);
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 75px;
  transition: all 0.5s;
}
.home-navbar .home-options img:not(:hover) {
  transform: scale(1);
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 25px;
  transition: all 0.3s;
}

.search-bar {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  width: 40vw;
  height: 50px;
  font-size: 1rem;
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.search-bar i {
  position: relative;
  right: 3vw;
}

.people-like-you-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5% 0;
}
.people-like-you-container .people-like-you-title-text {
  width: 90%;
  margin: auto;
}
.people-like-you-container .people-tab {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #cad3d1;
  padding-right: 2.5%;
  border-radius: 100px;
}
.people-like-you-container .people-tab .person-dp {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 100%;
}
.people-like-you-container .people-tab .person-dp img {
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (orientation: portrait) {
  .home-container {
    width: 100%;
  }
  .home-navbar div {
    max-width: 50%;
  }
  .home-navbar .home-options img {
    border-radius: 100%;
    width: 15%;
    height: auto;
  }
  .search-bar {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
  .search-bar input {
    width: 60vw;
    height: 40px;
    font-size: 1rem;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
  }
  .search-bar i {
    position: relative;
    right: 10vw;
  }
  .people-like-you-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0;
  }
  .people-like-you-container .people-like-you-title-text {
    width: 90%;
    margin: auto;
  }
  .people-like-you-container .people-tab {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #cad3d1;
    padding-right: 2.5%;
    border-radius: 100px;
    font-size: 0.5rem;
  }
  .people-like-you-container .people-tab .person-dp {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 100%;
  }
  .people-like-you-container .people-tab .person-dp img {
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=homeStyles.css.map */