@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.bg-animations div {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  filter: blur(100px);
}

.bg-animations .circle {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: red;
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
}

.bg-animations .circle1 {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(251, 255, 0);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bg-animations .square {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(255, 0, 191);
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.bg-animations .square2 {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 110, 255);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  animation-direction: reverse;
}

@-webkit-keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
@media screen and (orientation: portrait) {
  .bg-animations div {
    display: none;
  }
}
neon {
  background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: grad-anim infinite 2s ease-in-out;
          animation: grad-anim infinite 2s ease-in-out;
}

@-webkit-keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}

@keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.black-bg {
  background-color: rgb(20, 20, 20);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 75%;
  margin: auto;
  color: #cad3d1;
  background-color: #121212;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  width: 100%;
  height: 10%;
}
.navbar .title-text {
  font-size: 1.5rem;
}
.navbar .options {
  min-width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.navbar .options i:hover {
  transform: scale(1.05);
  filter: brightness(200);
  box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.navbar .options i:not(:hover) {
  transform: scale(1);
  filter: brightness(100);
  transition: all 0.5s;
}

.upper-profile {
  display: flex;
  padding: 5%;
}
.upper-profile .profile-picture img {
  width: 75%;
  height: auto;
  border-radius: 100%;
  border: 3px solid #19b7d3;
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 25px;
}
.upper-profile .profile-picture img:hover {
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 75px;
  transition: all 0.5s;
}
.upper-profile .profile-picture img:not(:hover) {
  box-shadow: rgba(26, 187, 236, 0.2) 0px 1px 25px;
  transition: all 0.3s;
}
.upper-profile .profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.upper-profile .profile-stats .user-name {
  font-size: 1.25rem;
  color: #ffffff;
}
.upper-profile .profile-stats .user-profile {
  font-size: 1.25rem;
  color: #d018e0;
}
.upper-profile .profile-stats .user-bio {
  font-weight: 700;
  text-transform: uppercase;
  color: #19b7d3;
}

.personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 5% 5%;
}
.personal-data h6 {
  color: #d018e0;
}
.personal-data h1 {
  color: #ffffff;
  font-size: 2.5rem;
}
.personal-data .location h1 {
  word-break: break-all;
}

.project_skill-bar {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cad3d1;
  width: 100%;
  height: auto;
  background-color: #121212;
  box-shadow: rgba(100, 100, 111, 0.2) 0px -7px 29px 0px;
}
.project_skill-bar .bar-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  height: auto;
}
.project_skill-bar .bar-headings h1 {
  padding: 15% 0%;
}

@media screen and (orientation: portrait) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    width: 100%;
    height: 10%;
  }
  .navbar .title-text {
    font-size: 1.25rem;
  }
  .navbar .options {
    min-width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar .options i {
    transform: scale(0.9);
  }
  .upper-profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
  }
  .upper-profile div {
    margin: 2%;
  }
  .upper-profile .profile-picture img {
    width: 50%;
    height: auto;
    border-radius: 100%;
  }
  .upper-profile .profile-stats {
    flex-direction: column;
    align-items: center;
  }
  .upper-profile .profile-stats .user-name {
    font-size: 1rem;
  }
  .upper-profile .profile-stats .user-profile {
    font-size: 1rem;
  }
  .upper-profile .profile-stats .user-bio {
    font-size: 0.75rem;
  }
  .personal-data h1 {
    font-size: 1.5rem;
  }
  .project_skill-bar .bar-headings h1 {
    font-size: 1.25rem;
    padding: 15% 0;
  }
}/*# sourceMappingURL=myPortfolioStyles.css.map */