@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

span {
  background: linear-gradient(to right, #19b7d3, #d018e0, #ffffff, lime);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100vw;
  background-position: 100vw;
  -webkit-animation: colorgrad-anim 15s infinite linear;
          animation: colorgrad-anim 15s infinite linear;
}
@-webkit-keyframes colorgrad-anim {
  0% {
    background-position: 200vw;
  }
  25% {
    background-position: 300vw;
  }
  50% {
    background-position: 400vw;
  }
  75% {
    background-position: 200vw;
  }
}
@keyframes colorgrad-anim {
  0% {
    background-position: 200vw;
  }
  25% {
    background-position: 300vw;
  }
  50% {
    background-position: 400vw;
  }
  75% {
    background-position: 200vw;
  }
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  color: #cad3d1;
  background-color: #121212;
}

.edit-profile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  width: 100%;
  height: 10%;
}
.edit-profile-navbar .edit-profile-title-text {
  font-size: 1.25rem;
}
.edit-profile-navbar .edit-profile-options {
  min-width: 30%;
  display: flex;
  justify-content: flex-end;
}
.edit-profile-navbar .edit-profile-options i:hover {
  transform: scale(1.05);
  filter: brightness(200);
  box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.edit-profile-navbar .edit-profile-options i:not(:hover) {
  transform: scale(1);
  filter: brightness(100);
  transition: all 0.5s;
}

.profile-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
.profile-edit div {
  padding: 1%;
}
.profile-edit .profile-edit-header {
  text-align: center;
}
.profile-edit .edit-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.profile-edit .edit-profile-picture img {
  width: 25%;
  border-radius: 100%;
}
.profile-edit .edit-profile-picture i:hover {
  transform: scale(1.05);
  filter: brightness(200);
  box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.profile-edit .edit-profile-picture i:not(:hover) {
  transform: scale(1);
  filter: brightness(100);
  transition: all 0.5s;
}
.profile-edit .edit-username,
.profile-edit .edit-position,
.profile-edit .edit-password,
.profile-edit .edit-conform-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profile-edit .edit-username label,
.profile-edit .edit-position label,
.profile-edit .edit-password label,
.profile-edit .edit-conform-password label {
  margin: 10px 0px;
}
.profile-edit .edit-username input,
.profile-edit .edit-position input,
.profile-edit .edit-password input,
.profile-edit .edit-conform-password input {
  width: 50vw;
  height: 50px;
  font-size: 1rem;
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.profile-edit .edit-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profile-edit .edit-bio label {
  margin: 10px 0px;
}
.profile-edit .edit-bio textarea {
  width: 50vw;
  height: 75px;
  font-size: 1rem;
  padding: 10px 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.profile-edit .conform-changes-btn {
  margin: 2.5% 0;
  width: 100%;
  text-align: center;
}
.profile-edit .conform-changes-btn .conform-changes-btn button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  color: black;
}
.profile-edit .conform-changes-btn .conform-changes-btn button:hover {
  filter: invert(1);
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.profile-edit .conform-changes-btn .conform-changes-btn button:not(:hover) {
  filter: invert(0);
  transform: scale(1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.edit-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}
.edit-projects-container .edit-projects-header {
  text-align: center;
}
.edit-projects-container .project-edit-tab {
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}
.edit-projects-container .project-edit-tab .fa-edit {
  color: #19b7d3;
}
.edit-projects-container .project-edit-tab .fa-trash {
  color: red;
}

.edit-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.edit-skills-container .edit-skills-header {
  text-align: center;
}
.edit-skills-container .edit-skill-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.edit-skills-container .edit-skill-tabs .edit-skill-tab {
  display: flex;
  border: 2px solid #cad3d1;
  padding: 1%;
  border-radius: 25px;
  margin: auto;
  margin: 2.5% 0;
  width: 35%;
  padding-right: 2.5%;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}
.edit-skills-container .edit-skill-tabs .edit-skill-tab .fa-trash {
  color: red;
}
.edit-skills-container .conform-changes-btn {
  margin: 5% 0;
  text-align: center;
}

hr {
  align-self: center;
  width: 75%;
  margin: 10% 0;
}

@media screen and (orientation: portrait) {
  .edit-profile-container {
    width: 100%;
  }
  .profile-edit {
    margin-top: 5%;
  }
  .profile-edit .edit-username,
.profile-edit .edit-position,
.profile-edit .edit-password,
.profile-edit .edit-conform-password {
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .profile-edit .edit-username label,
.profile-edit .edit-position label,
.profile-edit .edit-password label,
.profile-edit .edit-conform-password label {
    margin: 10px 0px;
  }
  .profile-edit .edit-username input,
.profile-edit .edit-position input,
.profile-edit .edit-password input,
.profile-edit .edit-conform-password input {
    width: 90vw;
    height: 50px;
    font-size: 1rem;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
  }
  .profile-edit .edit-bio {
    transform: scale(0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .profile-edit .edit-bio label {
    margin: 10px 0px;
  }
  .profile-edit .edit-bio textarea {
    width: 90vw;
    height: 90px;
    font-size: 1rem;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
  .profile-edit .conform-changes-btn {
    transform: scale(0.75);
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }
  .profile-edit .conform-changes-btn .conform-changes-btn button {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 10px 50px;
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: white;
    color: black;
  }
  .profile-edit .conform-changes-btn .conform-changes-btn button:hover {
    filter: invert(1);
    transform: scale(1.1);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  .profile-edit .conform-changes-btn .conform-changes-btn button:not(:hover) {
    filter: invert(0);
    transform: scale(1);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .edit-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
  }
  .edit-projects-container .edit-projects-header {
    text-align: center;
  }
  .edit-projects-container .project-edit-tab {
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-top: 5%;
  }
  .edit-projects-container .project-edit-tab .fa-edit {
    color: #19b7d3;
  }
  .edit-projects-container .project-edit-tab .fa-trash {
    color: red;
  }
  .edit-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 5%;
  }
  .edit-skills-container .edit-skills-header {
    text-align: center;
  }
  .edit-skills-container .edit-skill-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .edit-skills-container .edit-skill-tabs .edit-skill-tab {
    display: flex;
    margin: auto;
    margin: 2.5% 0;
    width: 45%;
    padding: 2% 4%;
    justify-content: space-between;
    text-align: start;
  }
  .edit-skills-container .edit-skill-tabs .edit-skill-tab .fa-trash {
    color: red;
  }
  .edit-skills-container .conform-changes-btn {
    transform: scale(0.75);
    margin-top: 5%;
    text-align: center;
  }
}/*# sourceMappingURL=editProfileStyles.css.map */