@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$default-color: #cad3d1;
$primary_color: #ffffff;
$secondary_color: #19b7d3;
$accent_color: #d018e0;
$background-color: #121212;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

// BUTTONS
@mixin button($fg-col, $bg-col) {
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: $bg-col;
  color: $fg-col;

  &:hover {
    filter: invert(1);
    // padding: 15px 55px;
    transform: scale(1.1);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  &:not(:hover) {
    filter: invert(0);
    // padding: 10px 50px;
    transform: scale(1);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
}

@mixin small-button($fg-col, $bg-col) {
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: $bg-col;
  color: $fg-col;

  &:hover {
    filter: invert(1);
    // padding: 15px 55px;
    transform: scale(1.1);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  &:not(:hover) {
    filter: invert(0);
    // padding: 10px 50px;
    transform: scale(1);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
}

// BUTTONS END

// Effects

span {
  background: linear-gradient(
    to right,
    $secondary_color,
    $accent_color,
    $primary_color,
    lime
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100vw;
  background-position: 100vw;
  animation: colorgrad-anim 15s infinite linear;
  @keyframes colorgrad-anim {
    0% {
      background-position: 200vw;
    }
    25% {
      background-position: 300vw;
    }
    50% {
      background-position: 400vw;
    }
    75% {
      background-position: 200vw;
    }
  }
}


// EFFECTS END

// INPUT FIELDS
@mixin inputFields($size) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  label {
    margin: 10px 0px;
  }

  input {
    width: $size + vw;
    height: 50px;
    font-size: 1rem;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
  }
}
@mixin inputAreaFields($length, $width) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  label {
    margin: 10px 0px;
  }

  textarea {
    width: $width + vw;
    height: $length + px;
    font-size: 1rem;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
}
