@import "../../../master-styles.scss";

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url('../../../imgs/human-pattern.gif');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.logo img {
  max-width: 40vw;
  max-height: 40vh;
}

.quotes {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 900;
}

.quotes::after {
  opacity: 0;
  color: white;
  content: "Accomplish";
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-skip-ink: all;
  text-decoration-color: rgba(255, 235, 205, 0.082);
  animation: motivational-anim 20s ease-in-out 1s infinite;

  @keyframes motivational-anim {
    0% {
      opacity: 1;
      content: "Accomplish";
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      content: "Ambition";
    }

    15% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      content: "Clarity";
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      content: "Commitment";
    }
    35% {
      opacity: 0;
    }
    40% {
      opacity: 1;
      content: "Confidence";
    }
    45% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      content: "Determination";
    }
    55% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      content: "Excellence";
    }
    65% {
      opacity: 0;
    }
    70% {
      opacity: 1;
      content: "Focus";
    }
    75% {
      opacity: 0;
    }
    80% {
      opacity: 1;
      content: "Gratitude";
    }
    85% {
      opacity: 0;
    }
    90% {
      opacity: 1;
      content: "Imagination";
    }
    95% {
      opacity: 0;
    }
    99% {
      opacity: 1;
      content: "Opportunity";
    }
    100% {
      opacity: 0;
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.login-btn {
  @include button(white, black);
}

.signup-btn {
  @include button(white, black);
}

@media screen and (orientation: portrait) {

  .landing-container {
    justify-content: space-evenly;
  }

  .btns {
    flex-direction: column;
    gap: 0;
  }

  .btns button {
    margin: 5% 0%;
  }
}
