@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.bg-animations div {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  filter: blur(100px);
}

.bg-animations .circle {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: red;
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
}

.bg-animations .circle1 {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(251, 255, 0);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bg-animations .square {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(255, 0, 191);
  -webkit-animation: bg-anim ease-in-out 20s alternate infinite;
          animation: bg-anim ease-in-out 20s alternate infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.bg-animations .square2 {
  position: absolute;
  border-radius: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 110, 255);
  -webkit-animation: bg-anim ease-in-out 15s alternate infinite;
          animation: bg-anim ease-in-out 15s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  animation-direction: reverse;
}

@-webkit-keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes bg-anim {
  0% {
    top: 0%;
    left: 0%;
  }
  30% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  90% {
    top: 65%;
    left: 65%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
@media screen and (orientation: portrait) {
  .bg-animations div {
    display: none;
  }
}
neon {
  background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: grad-anim infinite 2s ease-in-out;
          animation: grad-anim infinite 2s ease-in-out;
}

@-webkit-keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}

@keyframes grad-anim {
  30% {
    background: linear-gradient(to right, #0cc4e4, #0cc4e4, #ff6b08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  60% {
    background: linear-gradient(to right, #ff6b08, #ff6b08, #ff0898);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  90% {
    background: linear-gradient(to right, #ff0898, #ff0898, #08ff31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #08ff31, #08ff31, #ff0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.logo img {
  max-width: 40vw;
  max-height: 40vh;
}

.quotes {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 900;
}

.quotes::after {
  opacity: 0;
  color: white;
  content: "Accomplish";
  text-transform: uppercase;
  text-decoration: line-through;
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
  -webkit-text-decoration-color: rgba(255, 235, 205, 0.082);
          text-decoration-color: rgba(255, 235, 205, 0.082);
  -webkit-animation: motivational-anim 20s ease-in-out 1s infinite;
          animation: motivational-anim 20s ease-in-out 1s infinite;
}
@-webkit-keyframes motivational-anim {
  0% {
    opacity: 1;
    content: "Accomplish";
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    content: "Ambition";
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    content: "Clarity";
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    content: "Commitment";
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    content: "Confidence";
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Determination";
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    content: "Excellence";
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    content: "Focus";
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: "Gratitude";
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    content: "Imagination";
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    content: "Opportunity";
  }
  100% {
    opacity: 0;
  }
}
@keyframes motivational-anim {
  0% {
    opacity: 1;
    content: "Accomplish";
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    content: "Ambition";
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    content: "Clarity";
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    content: "Commitment";
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    content: "Confidence";
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Determination";
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    content: "Excellence";
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    content: "Focus";
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: "Gratitude";
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    content: "Imagination";
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    content: "Opportunity";
  }
  100% {
    opacity: 0;
  }
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.login-btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
}
.login-btn:hover {
  filter: invert(1);
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.login-btn:not(:hover) {
  filter: invert(0);
  transform: scale(1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.signup-btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
}
.signup-btn:hover {
  filter: invert(1);
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.signup-btn:not(:hover) {
  filter: invert(0);
  transform: scale(1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@media screen and (orientation: portrait) {
  .landing-container {
    background-image: url("../../../imgs/motion-illusion.gif");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
  }
  .btns {
    flex-direction: column;
    gap: 0;
  }
  .btns button {
    margin: 5% 0%;
  }
}/*# sourceMappingURL=landingStyles.css.map */