@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

span {
  background: linear-gradient(to right, #19b7d3, #d018e0, #ffffff, lime);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100vw;
  background-position: 100vw;
  -webkit-animation: colorgrad-anim 15s infinite linear;
          animation: colorgrad-anim 15s infinite linear;
}
@-webkit-keyframes colorgrad-anim {
  0% {
    background-position: 200vw;
  }
  25% {
    background-position: 300vw;
  }
  50% {
    background-position: 400vw;
  }
  75% {
    background-position: 200vw;
  }
}
@keyframes colorgrad-anim {
  0% {
    background-position: 200vw;
  }
  25% {
    background-position: 300vw;
  }
  50% {
    background-position: 400vw;
  }
  75% {
    background-position: 200vw;
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #cad3d1;
  background-color: black;
  background-image: url("../../../imgs/human-pattern.gif");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  font-size: 4rem;
}

.quotes {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 900;
}

.quotes::after {
  opacity: 0;
  color: white;
  content: "Accomplish";
  text-transform: uppercase;
  text-decoration: line-through;
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
  -webkit-text-decoration-color: rgba(255, 235, 205, 0.082);
          text-decoration-color: rgba(255, 235, 205, 0.082);
  -webkit-animation: motivational-anim 20s ease-in-out 1s infinite;
          animation: motivational-anim 20s ease-in-out 1s infinite;
}
@-webkit-keyframes motivational-anim {
  0% {
    opacity: 1;
    content: "Accomplish";
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    content: "Ambition";
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    content: "Clarity";
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    content: "Commitment";
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    content: "Confidence";
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Determination";
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    content: "Excellence";
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    content: "Focus";
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: "Gratitude";
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    content: "Imagination";
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    content: "Opportunity";
  }
  100% {
    opacity: 0;
  }
}
@keyframes motivational-anim {
  0% {
    opacity: 1;
    content: "Accomplish";
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    content: "Ambition";
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    content: "Clarity";
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    content: "Commitment";
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    content: "Confidence";
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Determination";
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    content: "Excellence";
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    content: "Focus";
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: "Gratitude";
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    content: "Imagination";
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    content: "Opportunity";
  }
  100% {
    opacity: 0;
  }
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.login-btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
}
.login-btn:hover {
  filter: invert(1);
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.login-btn:not(:hover) {
  filter: invert(0);
  transform: scale(1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.signup-btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
}
.signup-btn:hover {
  filter: invert(1);
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.signup-btn:not(:hover) {
  filter: invert(0);
  transform: scale(1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@media screen and (orientation: portrait) {
  .landing-container {
    justify-content: space-evenly;
  }
  .btns {
    flex-direction: column;
    gap: 0;
  }
  .btns button {
    margin: 5% 0%;
  }
}/*# sourceMappingURL=landingStyles.css.map */